@charset "utf-8";

.state{
    background-color: #fff;
    padding-top: 5rem;
    margin-left: -1rem;
    margin-right:-1rem ;
}

.state-head{
    text-align: center;
}

.state-body,
.state-foot{
    margin-top: 3rem;
}

.state-img{
    width: 100%;
    height: auto;
}

.state-ul{
    display: flex;
    justify-content: center;
}

.state-title{
    font-size: 2rem;
    font-weight: 600;
}

.state-desc{
    margin-top: 1rem;
    color: #ccc;
}

.state-li{
    text-align: center;
}

.state-number,
.state-unit,
.state-term,
.state-tips{
    display: block;
    margin-left: 3rem;
    margin-right: 3rem;
}

.state-li + .state-li{
    border-left: solid 1px #ccc;
}


.state-number,
.state-unit,
.state-term{
    font-weight: 600;  
}


.state-unit,
.state-term{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.state-number{
    font-size: 4rem;
}

.state-unit{
    font-size: 1.5rem
}

.state-term{
    font-size: 2rem;
}

.state-tips{
    color: #ccc;
}

.state-number,
.state-unit,
.state-term{
    color: lightpink;  
}

.state-li:nth-child(even) .state-number,
.state-li:nth-child(even) .state-unit,
.state-li:nth-child(even) .state-term {
    color:lightskyblue;
}










